.card__caption {
  margin: 0;
  color: #fff;
  max-width: 400px;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  padding-top: 30px;
  border-bottom: solid rgb(77, 3, 3) 2px;
  box-shadow: 0 -20px 15px red;
}

.card__caption:last-child {
  padding-bottom: 20px;
}