.header__button {
  margin-top: 5px;
  padding-right: 20px;
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-decoration: none;
  border-bottom: solid rgb(77, 3, 3) 2px;
  box-shadow: 5px 5px 25px red;
  border-radius: 10px;
}

